*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
}

.services-header-padding {
  padding-top: 6em;
}

.services-header-bg {
  background-image: url("../drawables/vitamin-c-medium.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.services-header-bg .services-header-bg-tint {
  background-color: #00000044;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  place-items: center;
  height: 100%;
  width: 100%;
  padding-left: 2em;
}

.services-header-bg .services-header-bg-tint h1 {
  font-size: 58px;
  color: #00000099;
  letter-spacing: 0.1em;
  box-shadow: 6px 6px 0px #00000099;
  background-color: #00000033;
  padding: 0.1em 0.2em;
  border-radius: 3px;
}

.services-header-bg .services-header-bg-tint h1:hover {
  cursor: pointer;
  transition-duration: 0.2s;
}

.services-header-bg .services-header-bg-tint h1:active {
  box-shadow: 2px 2px 0px #00000099;
}

.services-content {
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
  padding: 2em 3em;
  display: flex;
  justify-content: space-between;
}

.services-content .container {
  /* background-color: #bdbdbd33; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 4em;
  padding: 3em;
  border-radius: 5px;
  width: 31%;
  box-shadow: 0px 0px 4px #00000022;
}

.services-content .container:hover {
  box-shadow: 0px 0px 8px #0f0f0f66;
  transition-duration: 0.6s;
}

.services-content .container p {
  text-align: justify;
  margin: 2em 0;
  line-height: 1.6em;
  color: #000000cc;
}

.services-content .content-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 8px 8px 0px #0f0f0f33;
  cursor: pointer;
}

.services-content .content-image:hover {
  transition-duration: 0.2s;
}

.services-content .content-image:active {
  box-shadow: 4px 4px 0px #0f0f0f33;
}

.services-content .first-content .first-content-image {
  background-image: url("../drawables/drug-capsule-03.jpg");
}

.services-content .second-content .second-content-image {
  background-image: url("../drawables/drug-capsule-02.jpg");
}

.services-content .third-content .third-content-image {
  background-image: url("../drawables/drug-capsule-04.jpg");
}
