h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

.contact-header-padding {
  padding-top: 6em;
}

.contact-header-bg {
  background-image: url("../drawables/vitamin-c-medium.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.contact-header-bg .contact-header-bg-tint {
  background-color: #00000044;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  place-items: center;
  height: 100%;
  width: 100%;
  padding-left: 2em;
}

.contact-header-bg .contact-header-bg-tint h1 {
  font-size: 58px;
  color: #00000099;
  letter-spacing: 0.1em;
  box-shadow: 6px 6px 0px #00000099;
  background-color: #00000033;
  padding: 0.1em 0.2em;
  border-radius: 3px;
}

.contact-header-bg .contact-header-bg-tint h1:hover {
  cursor: pointer;
  transition-duration: 0.2s;
}

.contact-header-bg .contact-header-bg-tint h1:active {
  box-shadow: 2px 2px 0px #00000099;
}

.form-bg {
  width: 100%;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
}

.form-bg .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
}

.form-bg .contact-form .input-fields-container {
  display: flex;
  justify-content: space-between;
}

.form-bg .contact-form .input-fields-container .inputs {
  height: 40px;
  width: 95%;
  padding: 0 1em;
  border: none;
  border-radius: 3px;
  color: #00000099;
  letter-spacing: 0.1em;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px #00000099;
}

.form-bg .contact-form .input-fields-container .inputs:hover {
  transition-duration: 0.6s;
}

.form-bg .contact-form .input-fields-container .inputs:focus {
  box-shadow: 0px 0px 8px #00000099;
  outline: none;
}

.form-bg .contact-form .textfields {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5em 0;
  width: 100%;
}

.form-bg .contact-form .input-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.form-bg .contact-form label {
  margin-bottom: 0.5em;
  color: #00000099;
}

.form-bg .contact-form .input-fields-container .message-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-bg .contact-form .input-fields-container .message-container .message {
  height: 100%;
  padding: 1em;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.1em;
  color: #00000099;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px #00000099;
}

.form-bg
  .contact-form
  .input-fields-container
  .message-container
  .message:hover {
  transition-duration: 0.6s;
}

.form-bg
  .contact-form
  .input-fields-container
  .message-container
  .message:focus {
  box-shadow: 0px 0px 8px #00000099;
  outline: none;
}

.form-bg .contact-form .submit-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  place-self: center;
  margin: 1em 0;
}

.form-bg .contact-form .submit-btn .submit {
  background-color: #bf8a0f;
  color: #00000066;
  font-size: 14px;
  border: none;
  padding: 0.5em 1em;
  height: 40px;
  width: 15%;
  border-radius: 3px;
  box-shadow: 6px 6px 0px #000000dd;
}

.form-bg .contact-form .submit-btn .submit:hover {
  color: #000000dd;
  cursor: pointer;
  transition-duration: 0.3s;
}

.form-bg .contact-form .submit-btn .submit:active {
  box-shadow: 2px 2px 0px #000000dd;
  outline: none;
}

.form-bg .hour-layout {
  background-color: #bf8a0f;
  width: 80%;
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 0.3em;
  border-radius: 3px;
  margin-bottom: 8em;
}

.form-bg .hour-layout .hour-border {
  background-color: #bf8a0f;
  width: 100%;
  border: 5px solid #ffffff;
  border-radius: 3px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.form-bg .hour-layout .hour-border .headings {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 1em 0;
  margin-bottom: 2em;
}

.form-bg .hour-layout .hour-border .headings h1 {
  font-weight: 100;
  letter-spacing: 0.2em;
  color: #000000bb;
  margin-top: 0.6em;
}

.form-bg .hour-layout .hour-border .headings h3 {
  font-weight: 100;
  color: #000000bb;
  letter-spacing: 0.2em;
}

.form-bg .hour-layout .hour-border .hours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 8em;
}

.form-bg .hour-layout .hour-border .hours .weekday {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #000000bb;
  place-items: center;
  height: 55px;
}

.form-bg .hour-layout .hour-border .hours .weekday-line {
  background-color: #ffffff;
  height: 2px;
  width: 100%;
}
