*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
}

.distribution-layout {
  background-color: #f5f5f5;
  height: 100%;
  padding: 3em;
}

.distribution-layout .distribution-main02 {
  box-shadow: 0px 0px 10px #afafaf;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.distribution-layout .distribution-main02 .distribution-main-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02 {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-sidebar {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f5f5;
  border-radius: 0 0 0 10px;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-sidebar
  .links
  .link-container {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1.6em;
  color: #00000088;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-sidebar
  .links
  .link-container:hover {
  padding-left: 2em;
  background-color: #ebebeb;
  transition-duration: 0.3s;
  border-left: 5px solid #bf8a0f;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-sidebar
  .links
  .active {
  padding-left: 2em;
  background-color: #e1e1e1;
  color: #bf8a0f;
  border-left: 5px solid #bf8a0f;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-sidebar
  .links
  .active:hover {
  background-color: #e1e1e1;
  color: #bf8a0f;
  border-left: 5px solid #bf8a0f;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-sidebar
  .links {
  text-decoration: none;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%;
  padding: 4em;
  background-color: #e1e1e1;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-main
  .distribution-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-main
  .distribution-form
  .input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-main
  .distribution-form
  .input-field
  .inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  margin-top: 1em;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-main
  .distribution-form
  .input-field
  .inputs
  input {
  width: 100%;
  height: 35px;
  color: #000000bb;
  padding: 0 0.8em;
  border: none;
  border-radius: 3px;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-main
  .distribution-form
  .input-field
  .inputs
  input:focus {
  border: 2px solid #bf8a0f;
  outline: none;
  transition-duration: 0.5s;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-main
  .distribution-form
  .input-field
  .inputs
  label {
  color: #000000bb;
  margin: 0.8em 0;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-main
  .distribution-form
  h1 {
  color: #000000bb;
  margin-bottom: 1em;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-main
  .distribution-form
  .input-field
  .submit-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-main
  .distribution-form
  .input-field
  .submit-btn
  .submit {
  margin-top: 2em;
  width: 15%;
  height: 35px;
  border-radius: 3px;
  border: none;
  background-color: #bf8a0f;
}

.distribution-layout
  .distribution-main02
  .distribution-main-layout
  .distribution-main-layout02
  .distribution-main
  .distribution-form
  .input-field
  .submit-btn
  .submit:hover {
  background-color: #e2a515;
  cursor: pointer;
  transition-duration: 0.5s;
}
