*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: monospace;
  height: 100vh;
}

.app-bar {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 0 1em;
  box-shadow: 0px 2px 4px #00000055;
  z-index: 2;
  height: 6em;
  border-radius: 5px 5px 0 0;
}

.app-bar .logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.app-bar .logo .logo-txt {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
  text-decoration: none;
  color: #000000bb;
  background-color: #00000011;
  padding: 0.2em 0.1em;
  border: 3px solid #000000bb;
  border-radius: 2px;
  box-shadow: 4px 4px 0px #000000bb;
}

.app-bar .logo .logo-txt:hover {
  transition-duration: 0.3s;
}

.app-bar .logo .logo-txt:active {
  box-shadow: 2px 2px 0px #000000bb;
}

.app-bar .logout {
  margin-right: 1em;
}

.app-bar .logout .logout-link {
  text-decoration: none;
  color: #000000bb;
}
