*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Nunito;
}

.extra-padding {
  height: 6em;
}

.track-bg-img {
  background-image: url("../drawables/gold-stripes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100vh;
}

.track-bg-img .track-tint {
  background-color: #00000088;
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  place-items: center;
  width: 100%;
  height: 100%;
}

.track-bg-img .track-tint .trace-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  background-color: #f5f5f5bb;
  padding: 3em 2em;
  border-radius: 3px;
}

.track-bg-img .track-tint .trace-form h1 {
  margin-bottom: 0.7em;
  font-weight: 100;
  font-size: 24px;
  color: #000000bb;
}

.track-bg-img .track-tint .trace-form .serial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%;
}

.track-bg-img .track-tint .trace-form .serial .serial {
  height: 40px;
  width: 90%;
  text-align: center;
  font-size: 14px;
  color: #00000099;
  border: none;
  border-radius: 3px;
}

.track-bg-img .track-tint .trace-form .serial .serial:focus {
  outline: none;
}

.track-bg-img .track-tint .trace-form .trace-btn {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%;
}

.track-bg-img .track-tint .trace-form .trace-btn .trace-btn {
  height: 40px;
  width: 35%;
  border-radius: 3px;
  border: none;
  color: #00000099;
  font-size: 14px;
  background-color: #bf8a0f;
}

.track-bg-img .track-tint .trace-form .trace-btn .trace-btn:hover {
  color: #000000ee;
  background-color: #e1a312;
  transition-duration: 0.6s;
}
