*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Nunito;
}

.signup-img-bg {
  background-image: url("../drawables/gold-stripes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-img-bg .signup-form-bg-tint {
  background-color: #000000bb;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.signup-img-bg .signup-form-bg-tint .signup-parent-layout {
  /* background-color: aquamarine; */
  height: 65%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
}

.signup-img-bg
  .signup-form-bg-tint
  .signup-parent-layout
  .signup-sub-parent-layout {
  background-color: #f5f5f5cc;
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  border-radius: 3px;
}

.signup-img-bg
  .signup-form-bg-tint
  .signup-parent-layout
  .signup-sub-parent-layout
  h2 {
  margin-bottom: 1em;
  color: #000000bb;
  font-size: 20px;
}

.signup-img-bg
  .signup-form-bg-tint
  .signup-parent-layout
  .signup-sub-parent-layout
  .signup-input-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.signup-img-bg
  .signup-form-bg-tint
  .signup-parent-layout
  .signup-sub-parent-layout
  .signup-input {
  height: 35px;
  width: 80%;
  border: none;
  box-shadow: 0px 0px 3px #000000bb;
  margin-bottom: 1em;
  padding-left: 0.5em;
  background-color: #f5f5f5cc;
  color: #000000bb;
  font-size: 12px;
  border-radius: 3px;
}

.signup-img-bg
  .signup-form-bg-tint
  .signup-parent-layout
  .signup-sub-parent-layout
  .signup-input:focus {
  outline: none;
  box-shadow: 0px 0px 8px #000000bb;
  transition-duration: 0.5s;
}

.signup-img-bg
  .signup-form-bg-tint
  .signup-parent-layout
  .signup-sub-parent-layout
  .signup-btn-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.signup-img-bg
  .signup-form-bg-tint
  .signup-parent-layout
  .signup-sub-parent-layout
  .signup-btn-section
  .signup-btn {
  background-color: #bf8a0f;
  padding: 0.5em 2em;
  border-radius: 3px;
  height: 35px;
  color: #f5f5f5cc;
  border: none;
  box-shadow: 6px 6px 0px #000000bb;
}

.signup-img-bg
  .signup-form-bg-tint
  .signup-parent-layout
  .signup-sub-parent-layout
  .signup-btn-section
  .signup-btn:hover {
  background-color: #bf8a0f;
  transition-duration: 0.3s;
}

.signup-img-bg
  .signup-form-bg-tint
  .signup-parent-layout
  .signup-sub-parent-layout
  .signup-btn-section
  .signup-btn:active {
  outline: none;
  box-shadow: 3px 3px 0px #000000bb;
}

.signup-img-bg
  .signup-form-bg-tint
  .signup-parent-layout
  .signup-login-link-section {
  background-color: #f5f5f5cc;
  display: flex;
  justify-content: center;
  place-items: center;
  height: 10%;
  width: 100%;
  border-radius: 3px;
}

.signup-img-bg
  .signup-form-bg-tint
  .signup-parent-layout
  .signup-login-link-section
  .signup-login-link {
  color: #000000bb;
  margin: 0 0.5em;
  text-decoration: none;
}

.signup-img-bg
  .signup-form-bg-tint
  .signup-parent-layout
  .signup-login-link-section
  .signup-login-link:hover {
  color: #000000;
  text-decoration: underline;
}
